<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>MBTA Client Portal</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={static_path(@conn, "/css/app.css")} />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
  </head>

  <body>
    <%= render("navigation.html", assigns) %>

    <%= if info = get_flash(@conn, :success) do %>
      <div class="alert alert-success text-center" role="alert" style="border-radius: 0">
        <div class="container"><%= info %></div>
      </div>
    <% end %>
    <%= if info = get_flash(@conn, :info) do %>
      <div class="alert alert-info text-center" role="alert" style="border-radius: 0">
        <div class="container"><%= info %></div>
      </div>
    <% end %>
    <%= if error = get_flash(@conn, :error) do %>
      <div class="alert alert-danger text-center" role="alert" style="border-radius: 0">
        <div class="container"><%= error %></div>
      </div>
    <% end %>

    <%= if template = assigns[:pre_container_template] do
      render(view_module(@conn), template, assigns)
    end %>

    <div class="container">
      <main role="main">
        <%= @inner_content %>
      </main>
    </div>

    <%= render("footer.html", assigns) %>
    <script
      src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
      integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    >
    </script>
    <script src={static_path(@conn, "/js/phoenix_html.js")}>
    </script>
  </body>
</html>
