*~
Mnesia*
_build
deps
apps/*/node_modules
apps/*/test
cache
rel
!rel/config.exs
!rel/vm.args
erl_crash.dump
build.sh
deploy.sh
api-build.zip
DynamoDBLocal*
Dockerfile

# Elastic Beanstalk Files
.elasticbeanstalk/*
aws
.git
.gitignore
.dockerignore
