.DS_Store
# App artifacts
/_build
/tmp
/data
/db
/deps
/*.ez
/cache
/Mnesia.*/
# Generate on crash by the VM
erl_crash.dump
/rel/api
*.secret.exs

/apps/state/priv/*.db
/apps/state/priv/*.db-shm
/apps/state/priv/*.db-wal

# Elastic Beanstalk Files
aws/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/api-build.zip
apps/state/bench/snapshots
cover

# ex_doc
/doc
/apps/api_web/priv/static/swagger.json

.vscode/
.elixir_ls/

# Python artifacts (for locust)
__pycache__

# local db 
shared-local-instance.db
/bin
