<div class="account-edit">
  <h2>Configure 2-Factor</h2>

  <%= if @enabled do %>
    <p>TOTP 2-Factor authentication is enabled for your account.</p>
    <%= link "Disable 2-Factor authentication", to: user_path(@conn, :unenroll_2fa) %>
  <% else %>
    <p>2-Factor is not enabled for your account.</p>

    <%= form_for %{}, user_path(@conn, :register_2fa), [method: :post], fn _f -> %>
        <%= submit "Enable 2-Factor", class: "btn btn-primary" %>
    <% end %>
  <% end %>


</div>
