<div class="account-edit">
    <%= form_for @changeset, user_path(@conn, :disable_2fa), [method: :post], fn f -> %>
        <%= text_input f, :totp_code, placeholder: "Code" %>
        <%= error_tag f, :totp_code %>
        <%= submit "Disable 2FA" %>
    <% end %>
</div>
