<%= form_for @conn, @action, [as: :search], fn f -> %>
  <div class="form-group">
    <%= text_input f, :key, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>